# Our custom log, useful for debugging
SUBSYSTEM=="pwm", RUN+="echo $(date) %p %k >> /tmp/81-pwm-noroot.rules.log"

# Change ownership of the PWM devices to the gpio group
SUBSYSTEM=="pwm", ACTION=="add|change", \
        RUN+="/bin/chgrp -R gpio '/sys%p'", \
        RUN+="/bin/chmod -R g=u '/sys%p'"

# Echo 0 to attribute "export" to activate pwm0
SUBSYSTEM=="pwm", ATTR{export}="0"
# Echo 1 to attribute "export" to activate pwm1
# if number of PWM lines is larger than 0
SUBSYSTEM=="pwm", ATTR{npwm}!="1",  ATTR{export}="1"
